@model List<CartVM>  

<div class="cart-overlay"></div>

    <a href="#" class="cart-toggle label-down link">
                                <i class="w-icon-cart">
                                    <span class="cart-count">@Model.Count</span>
                                </i>
                                <span class="cart-label">Cart</span>
                            </a>
                            <div class="dropdown-box">
                                <div class="cart-header">
                                    <span>Shopping Cart</span>
                                    <a href="#" class="btn-close">Close<i class="w-icon-long-arrow-right"></i></a>
                                </div>
                            <div id="product__item-list" class="products">
                            @foreach (CartVM cartVM in Model)
                            {
                                <div class="product product-cart">
                                <div class="product-detail">
                                    <a asp-controller="product" asp-action="detail" asp-route-id="@cartVM.ProductID" class="product-name">@cartVM.Name</a>
                                    <div class="price-box">
                                        <span class="product-quantity">@(cartVM.Count)x</span>
                                        <span class="product-price">$@cartVM.Price</span>
                                    </div>
                                </div>
                                <figure class="product-media">
                                    <a asp-controller="product" asp-action="detail" asp-route-id="@cartVM.ProductID">
                                        <img src="~/assets/images/shop/@cartVM.Image" alt="product" height="84" width="94">
                                    </a>
                                </figure>
                                <a asp-controller="cart" asp-action="DeleteCart" asp-route-id="@cartVM.ProductID" id="deleteCart"  class="btn btn-link btn-close" aria-label="button">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>   
                            }   
                            <div class="cart-total">
                                <label>Subtotal:</label>
                                <span class="price">$@(Model.Sum(p=>p.Price * p.Count))</span>
                            </div>
                            <div class="cart-action">
                                <a asp-controller="cart" asp-action="index" class="btn btn-dark btn-outline btn-rounded">View Cart</a>
                                <a asp-controller="order" asp-action="index" class="btn btn-primary  btn-rounded">Checkout</a>
                            </div>
                            </div>
                            </div>
 
