@model IEnumerable<Product>

    <div class="product-wrapper row cols-md-3 cols-sm-2 cols-2">
        @foreach (Product product in Model)
                                    {
                                         <div class="product-wrap">
                                        <div class="product text-center">
                                            <figure class="product-media">
                                                <a asp-controller="product" asp-action="detail" asp-route-id="@product.ID">
                                                    <img src="~/assets/images/shop/@product.MainImage" alt="Product" width="300"
                                                        height="338" />
                                                     @if (product.HoverImage != null)
                                                    {
                                                        <img src="~/assets/images/shop/@product.HoverImage" width="300"
                                                            height="338" />
                                                    }
                                                </a>
                                               @*  <div class="product-countdown-container">
                                                    <div class="product-countdown countdown-compact" data-until="2021, 9, 9"
                                                        data-format="DHMS" data-compact="false"
                                                        data-labels-short="Days, Hours, Mins, Secs">
                                                        00:00:00:00</div>
                                                </div>*@
                                                <div class="product-action-horizontal">
                                                    <a asp-controller="cart" asp-action="AddToCart" asp-route-id="@product.ID" class="AddToCart btn-product-icon btn-cart w-icon-cart"
                                                        title="Add to cart"></a>
                                                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                                        title="Wishlist"></a>
                                                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                                        title="Compare"></a>
                                                    <a asp-controller="product" asp-action="DetailForModal" asp-route-id="@product.ID" class="btn-product-icon btn-quickview w-icon-search product__modal"
                                                        title="Quick View"></a>
                                                </div>
                                            </figure>
                                            <div class="product-details">
                                                <div class="product-cat">
                                                    <a href="shop-banner-sidebar.html">Electronics</a>
                                                </div>
                                                <h3 class="product-name">
                                                    <a href="product-default.html">@product.Name</a>
                                                </h3>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 100%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                                </div>
                                                <div class="product-pa-wrapper">
                                                    <div class="product-price">
                                                    @if(product.DiscountedPrice > 0)
                                                    {
                                                        <ins class="new-price">$@product.DiscountedPrice</ins>
                                                        <del class="old-price">@product.Price</del>
                                                    }
                                                    else
                                                    {
                                                        <del class="old-price">$@product.Price</del>
                                                    }

                                                        @*@product.DiscountedPrice > 0 ?  <ins class="new-price">$30.00</ins> <del class="old-price">$60.00</del> 
                                                        :  <del class="old-price">$60.00</del>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
    </div>

